*.jl.*.cov
*.jl.cov
*.jl.mem
*.py~~
.DS_Store
.coverage
.hypothesis/
.idea/
.ipynb_checkpoints/
.pyre/
.pyre_configuration
.pytype/
.watchmanconfig
TAGS
__pycache__
deps/deps.jl
htmlcov/
problem/text/db/out/*.pdf
problem/text/reviewing/out/*.pdf
