*.jl.*.cov
*.jl.cov
*.jl.mem
*.py~~
.DS_Store
.RData
.Rhistory
.Rprofile
.Rproj.user
.bsp/
.coverage
.hypothesis/
.idea/
.ipynb_checkpoints/
.pyre/
.pyre_configuration
.pytype/
.watchmanconfig
Rplots.pdf
TAGS
__pycache__
deps/deps.jl
htmlcov/
problem/text/db/out/*.pdf
problem/text/reviewing/out/*.pdf
renv.lock
renv/
target/
testing-tools.Rproj
